%i.icon-flag 
  %h1 Formula 1 Database 

%h3
  %i.icon-group
  = link_to "See Teams", teams_path

%i.icon-trophy
%h3= link_to "See Drivers", drivers_path

%i.icon-road
%h3= link_to "See Races", races_path

