.row
  .span12
    .page-header
      %h1 Drivers
      =link_to "Add Driver", new_driver_path
    %table.table
      %thead
        %tr
          %th Driver Name
      %tbody
        - @drivers.each do |driver|
          %tr
            %td= driver.name
            %td= link_to "Edit Driver", edit_driver_path(driver)
            %td= link_to "Delete Driver", driver_path(driver), method: :delete
