.home-page
  h1 {

    text-align: center;
    font-size: 52px;
    color: #FF0000;

  }

  h3 {

    text-align: center;
    font-size: 30px;
    color: #FF0000;

  }

  body  {

    background: image-url("checkered-flags.jpg");
    background-repeat:no-repeat;

  }

  #one {

    background-color:#FFFFFF

  }
  
  












