  h1 {
    // font-family: $header-font-family;
    // margin-bottom: 36px;
    text-align: center;
    font-size: 52px;
    color: #FF0000;
    // margin-top: 12px;
  }

  h3 {

    text-align: center;
    font-size: 30px;
    color: #FF0000;
    // margin-left: 10px

  }

body {

  background: image-url("checkered-flags.jpg");
  background-repeat:no-repeat;

}

