.index-others {

  h1 {

    text-align: center;
    font-size: 52px;
    color: #FF0000;

  }

  h3 {

    text-align: center;
    font-size: 30px;
    color: #FF0000;

  }

  body {
    background-color: #FF0000
  }

}